@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
        var idCliente = @Model.Id;
        var urlAlteracao = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlExcluir = '@Url.Action("Excluir", "Beneficiario", new { area = "" })';
        var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';
        var urlBeneficiario = '@Url.Action("Beneficiario", "Beneficiario", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/altClientes");
    @Scripts.Render("~/bundles/listBeneficiarios");
    @Scripts.Render("~/bundles/Beneficiario");
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")